.App{
  display:flex ;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  margin: 0;
}

.cima{
  display: flex;
  flex: 0 75px;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #e8f1f2;
}
.Topo{
  display: flex;
  background-color: #194569;
  border-radius: 20px;
  height: 70px;
  flex: 0 1300px; 
  justify-content: center;
  align-items: center;
}

.Corpo{
  display:flex ;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: #e8f1f2;
  flex: 5;
}







